<h2>{{model.title}}</h2>

<ul>
  {{#each model.tracks as |track| }}
    <li>
      {{#link-to 'track' track.id}}
        {{track.artist}} - {{track.title}}
      {{/link-to}}
    </li>
  {{else}}
    <li>The list is empty :(</li>
  {{/each}}
</ul>

{{outlet}}
