<h2>{{model.title}}</h2>

<p>
  {{#link-to 'track/new'}}Add a new track{{/link-to}}
</p>

<ul>
  {{#each model.persistentTracks as |track| }}
    <li>
      {{#link-to 'track' track.id}}
        {{track.artist}} - {{track.title}}
      {{/link-to}}
    </li>
  {{else}}
    <li>The list is empty :(</li>
  {{/each}}
</ul>

{{outlet}}
